src/main/resources/EmployeeValidation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://assignment1.comp9322" name="EmployeeValidationService"
    targetNamespace="http://assignment1.comp9322">
    <wsdl:types>
        <xsd:schema targetNamespace="http://assignment1.comp9322">
            <xsd:element name="CheckAddressRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="preStreet" type="xsd:string" />
                        <xsd:element name="streetName" type="xsd:string" />
                        <xsd:element name="streetType" type="xsd:string" />
                        <xsd:element name="suburb" type="xsd:string" />
                        <xsd:element name="state" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CheckAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="exactAddress"
                            type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReturnPostcodeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="suburb" type="xsd:string" />
                        <xsd:element name="state" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReturnPostcodeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="postcode" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CheckEmailAddressRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="email" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CheckEmailAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
                <xsd:complexType name="ServiceFaultType">
                    <xsd:sequence>
                        <xsd:element name="errcode" type="xsd:int"></xsd:element>
                        <xsd:element name="errtext" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            <xsd:element name="ValidationFault" type="tns:ServiceFaultType" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CheckAddressRequestMsg">
        <wsdl:part name="parameters" element="tns:CheckAddressRequest" />
    </wsdl:message>
    <wsdl:message name="CheckAddressResponseMsg">
        <wsdl:part name="parameters" element="tns:CheckAddressResponse" />
    </wsdl:message>
    <wsdl:message name="ReturnPostcodeRequestMsg">
        <wsdl:part name="parameters" element="tns:ReturnPostcodeRequest" />
    </wsdl:message>
    <wsdl:message name="ReturnPostcodeResponseMsg">
        <wsdl:part name="parameters" element="tns:ReturnPostcodeResponse" />
    </wsdl:message>
    <wsdl:message name="CheckEmailAddressRequestMsg">
        <wsdl:part name="parameters" element="tns:CheckEmailAddressRequest" />
    </wsdl:message>
    <wsdl:message name="CheckEmailAddressResponseMsg">
        <wsdl:part name="parameters" element="tns:CheckEmailAddressResponse" />
    </wsdl:message>
    <wsdl:message name="ValidationFaultMsg">
        <wsdl:part name="parameters" element="tns:ValidationFault" />
    </wsdl:message>
    <wsdl:portType name="EmployeeValidationService">
        <wsdl:operation name="CheckAddress">
            <wsdl:input message="tns:CheckAddressRequestMsg" />
            <wsdl:output message="tns:CheckAddressResponseMsg" />
            <wsdl:fault name="ValidationFault" message="tns:ValidationFaultMsg" />
        </wsdl:operation>
        <wsdl:operation name="ReturnPostcode">
            <wsdl:input message="tns:ReturnPostcodeRequestMsg" />
            <wsdl:output message="tns:ReturnPostcodeResponseMsg" />
            <wsdl:fault name="ValidationFault" message="tns:ValidationFaultMsg" />
        </wsdl:operation>
        <wsdl:operation name="CheckEmailAddress">
            <wsdl:input message="tns:CheckEmailAddressRequestMsg" />
            <wsdl:output message="tns:CheckEmailAddressResponseMsg" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeeValidationServiceSOAP"
        type="tns:EmployeeValidationService">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CheckAddress">
            <soap:operation soapAction="http://assignment1.comp9322/CheckAddress" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ReturnPostcode">
            <soap:operation soapAction="http://assignment1.comp9322/ReturnPostcode" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CheckEmailAddress">
            <soap:operation
                soapAction="http://assignment1.comp9322/CheckEmailAddress" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeeValidationService">
        <wsdl:port binding="tns:EmployeeValidationServiceSOAP"
            name="EmployeeValidationServiceSOAP">
            <soap:address
                location="http://localhost:8080/SimpleService/EmployeeValidationService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
